---
import { Github } from 'lucide-astro';
---

<div class='bg-white/10 w-full relative'>
  <hr class='gradient-border' />
  <img src='/gradient-3.svg' class='absolute bottom-0 mx-0 -z-10' />
</div>

<div class='flex flex-col lg:flex-row justify-between items-center p-6'>
  <p class='text-sm text-gray-300'>Desarrollado con ❤️ por Kevin Falcón</p>
  <div class='flex gap-3 items-center'>
    <a
      href='https://github.com/kevinf15'
      class='relative inline-flex gap-2 items-center justify-center px-3 py-1.5 overflow-hidden text-sm font-medium text-white rounded-md shadow-2xl group'
    >
      <Github />
      <span class='relative'>Seguir</span>
    </a>
  </div>
</div>
