---
import { Github, Figma, Mail, Linkedin } from 'lucide-astro';
---

<div
  class='flex gap-6 child:transition-all child:duration-300 child:ease-out hover:child:scale-125'
>
  <a
    href='https://github.com/KevinF15'
    class='hover:text-gray-400'
    target='_blank'
  >
    <Github />
  </a>
  <a
    href='https://www.figma.com/@kevinfalcon'
    class='hover:text-purple-400'
    target='_blank'
  >
    <Figma />
  </a>
  <a
    href='https://ve.linkedin.com/in/kevin-falc%C3%B3n-1633601b9'
    class='hover:text-blue-300'
    target='_blank'
  >
    <Linkedin />
  </a>

  <a 
    href='mailto:kevin.af09@gmail.com'
    class='hover:text-red-300'
    target='_blank'
  >
    <Mail />
  </a>
</div>
