---
import Section from '@/components/Section.astro';
import { Phone, Mail, Linkedin } from 'lucide-astro';
---

<Section pretitle='¿Te gusta mi trabajo?' title='¡Contáctame!'>
  <div
    class='flex gap-8 child:transition-all child:duration-300 child:ease-out hover:child:scale-125'
  >
    <a
      href='https://wa.me/+584125177939'
      class='hover:text-green-400'
      target='_blank'
    >
      <Phone class='size-9 stroke-[1.5px]' />
    </a>
    <a
      href='https://ve.linkedin.com/in/kevin-falc%C3%B3n-1633601b9'
      class='hover:text-blue-400'
      target='_blank'
    >
      <Linkedin class='size-9 stroke-[1.5px]' />
    </a>

    <a
      href='mailto:kevin.af09@gmail.com'
      class='hover:text-red-400'
      target='_blank'
    >
      <Mail class='size-9 stroke-[1.5px]' />
    </a>
  </div>
</Section>
