---
interface Props {
  src: string;
  alt?: string;
}

const { src, alt = 'Avatar' } = Astro.props;
---

<div>
  <img
    class='transition-all duration-300 ease-in-out size-20 rounded-full ring-1 ring-offset-[#070f12] ring-offset-2 ring-white hover:ring-offset-4'
    src={src}
    alt={alt}
  />
</div>
