---
import Footer from '@/sections/footer/Footer.astro';
import '@/styles/globals.css';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main class='max-w-7xl mx-auto sm:px-8 mt-16 sm:mt-24'>
      <slot />
      <Footer />
    </main>

    <script>
      import '@/scripts/glowingCards.js';
    </script>
  </body>
</html>
